# Personal
Notes.txt
ReadingNotes.txt

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs and dumps
*.log
*.out

# Model and Checkpoints
*.h5
*.hdf5
*.ckpt
*.pb
checkpoints/
models/

# Data and Audio Files
*.wav
*.mp3
data/
spectrograms/

# Streamlit
.streamlit/

# Temporary files
*.tmp
*.bak
*.swp
*.~*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Others
*.zip
*.tar.gz
